[submodule "hub/src/camera_ros"]
	path = hub/src/camera_ros
	url = https://github.com/christianrauch/camera_ros
[submodule "hub/src/BehaviorTree.ROS2"]
	path = hub/src/BehaviorTree.ROS2
	url = https://github.com/BehaviorTree/BehaviorTree.ROS2.git
